/* Reset básico */
body {
    margin: 0;
    padding: 0;
    background: #000; /* fundo preto sólido */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff;
}

/* Caixa central */
main {
    background-color: #1a1a1a; /* preto levemente transparente */
    padding: 40px 30px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
    text-align: center;
}

/* Título */
h1 {
    color: #ff9900; /* laranja mais vivo */
    margin-bottom: 30px;
    font-size: 28px;
}

/* Inputs */
.inputs {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
}

input:focus {
    border-color: #ff9900;
    outline: none;
}

/* Botão */
#botao {
    background: #ff9900;
    color: #000;
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 350px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 0px;
}
a{
    text-decoration: none;
}

button:hover {
    background: #af9060;
}
main{
    border: 5px inset #a8762c;
}