/* Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #121212;
    color: #fff;
}

header {
    background: #1f1f1f;
    padding: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    padding: 0;
}
@keyframes animaçãoGab{
    0%{
        color: #e68900;
    }
    50%{
        color: #fff;
    }
    100%{
        color: #e68900;
    }
}
#Gab{
    margin-left: -1270px;
    animation: animaçãoGab 4s linear infinite;
}
.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #d38225; /* hover em cinza claro */
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #c87018;
}

.filmes {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 20px;
}

.filme {
    background: #1e1e1e;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filme img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.filme:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(216, 100, 11, 0.3); 
}

.filme h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #c6630d;
}
.avaliacao {
    color: white;     
    font-size: 14px;
    margin-top: 5px;
  }
  
#seta {
    text-align: center;
    margin: 40px 0;
}

#botao {
    text-decoration: none;
    background: #b66d08;
    padding: 12px 25px;
    color: #fffcfc;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s, background 0.3s, color 0.3s;
}

#botao:hover {
    background: #b36b06;
    color: #000;
    transform: scale(1.1);
}