body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #e56509, #000);
    font-family: 'Poppins', sans-serif;
  }
  @keyframes animaçãoGab{
    0%{
        color: #e68900;
    }
    50%{
        color: #fff;
    }
    90%{
        color: #e68900;
    }
    100%{
        color: #e68900;
    }
}
@keyframes animaçãoFlix{
    0%{
        color: #3e3838;
    }
    50%{
        color: #fff;
    }
    90%{
        color: #3e3838;
    }
    100%{
        color: #3e3838;
    }
}

  h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 15px rgba(229, 112, 9, 0.7);
    margin-bottom: 50px;
    
  }
  #gabriel{
    animation: animaçãoGab 15s linear infinite;
  }
  #flix{
    animation: animaçãoFlix 15s linear infinite;
  }

  a input {
    font-size: 20px;
    padding: 15px 40px;
    background: #c67109;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  }

  a input:hover {
    background: #ff871e;
    transform: scale(1.05);
    box-shadow: 0px 6px 18px rgba(229, 101, 9, 0.8);
  }
  