/* Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #121212;
    color: #fff;
}

/* Navbar */
header {
    background: #1f1f1f;
    padding: 15px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    padding: 0;
}
@keyframes animaçãoGab{
    0%{
        color: #e68900;
    }
    50%{
        color: #fff;
    }
    100%{
        color: #e68900;
    }
}
#Gab{
    margin-left: -1270px;
    animation: animaçãoGab 4s linear infinite;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #ff9800;
}

#Recomendados {
    text-align: center;
    margin: 30px auto;
    color: #ff9800;
    background-color: #1e1e1e;
    padding: 5px;
    width: 500px;
    border-radius: 30px;
    
}
#Filmes-nome {
    text-align: center;
    margin: 30px auto;
    color: #ff9800;
    padding: 5px;
    
    
}

.Filmes {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 20px;
}

.Filme {
    background: #1e1e1e;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@keyframes animaçãoImg{
    0%{
        margin-left: 0;
    }
    50%{
        margin-left: -200px;
    }
    100%{
        margin-left: -250px;
    }
}
.Filme img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
    
}

.Filme:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(255, 152, 0, 0.6);
}

.Filme h2 {
    margin-top: 10px;
    font-size: 18px;
}

.Filme h2 a {
    text-decoration: none;
    color: #ff9800;
    transition: color 0.3s;
}

.Filme h2 a:hover {
    color: #ffd54f;
    
}

.voltar {
    text-align: center;
    margin: 40px 0;
}

.botao {
    text-decoration: none;
    background: #ff9800;
    padding: 12px 25px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s, background 0.3s;
}

.botao:hover {
    background: #e68900;
    color: #121212;
    transform: scale(1.1);
}


