body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8e7;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.section {
    background-color: rgb(255, 198, 92);
    border-radius: 20px;       
    padding: 20px;
    margin-bottom: 20px;      
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

#cabecalho {
    background-color: rgb(255, 195, 84);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    margin: 20px auto;
}

img {
    display: block;
    margin: 30px auto 20px auto;
    border-radius: 10px;
}

p {
    text-align: justify;
    line-height: 1.5;
}

li:hover {
    background-color: rgb(255, 198, 92);
    border-radius: 8px;
    transition: 0.3s;
    padding-left: 5px;
    width: 370px;
    cursor: pointer;
}
img {
    width: 500px;
    height: 300px;
    
}
table {
    width: 100%;
    border-collapse: collapse;  /* Para juntar as bordas */
    border-radius: 12px;        
    overflow: hidden; /* Para nenhum texto ser muito grande, não passar da borda */    
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #ffc875; /* cor do cabeçalho */
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #ffe0b2; /* linhas pares */
}

tr:nth-child(odd) {
    background-color: #fff3e0; /* linhas ímpares */
}

tr:hover {
    background-color: #ffd54f; 
    transition: 0.3s;
    cursor: pointer;
}

td {
    border-bottom: 1px solid #ddd; /* linha separadora */
}
main{
    background-color: aliceblue;
    border: 5px rgb(255, 203, 105) groove;
}
